# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarised.

### Some of the most popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java/Scale

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. scikit-learn

| Data Science Tools | 
| -------------| 
| Jupyter Notebook |
| JupyterLab |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition: 3 + 7
2. Subtraction: 7 - 3
3. Multiplication: 3 * 7
4. Division: 7 / 3

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## **Objectives**

- List popular languages for data scientists
- List commonly used libraries for data scientists
- Create a table of commonly used tools
- List examples of evaluating arithmetic expressions in Python
- Show a simple arithmetic expression
- Convert 200 minutes to hours by dividing by 60

## Author
Rae Newbery